* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #0B132A;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #0B132A;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__linksbar {
  display: flex;
  gap: 40px;
}
.nav__linksbar_link {
  color: #4F5665;
  transition: 0.2s;
}
.nav__linksbar_link:hover {
  color: #161a22;
  border-bottom: 1px solid #161a22;
}
.nav__button_txt {
  font-weight: 500;
  color: #0B132A;
  padding-right: 30px;
}
.nav__button_btn {
  color: #F53838;
  padding: 12px 40px;
  border: 1px solid #F53838;
  border-radius: 30px;
  transition: 0.4s;
}
.nav__button_btn:hover {
  background: #F53838;
  color: #fff;
  box-shadow: 0px 5px 6px rgba(245, 56, 56, 0.5019607843);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 9.375rem;
}

.hamburger {
  display: none;
}

@media (max-width: 1170px) {
  .hamburger {
    display: inline-flex;
  }
  .logo {
    padding-left: 1.25rem;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 600px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    transform: translateX(calc(100% + 10px));
    will-change: transform;
    transition: transform 0.4s ease-in;
  }
  .nav__linksbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .nav__linksbar_link {
    font-size: 18px;
  }
  .nav__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5625rem;
  }
  .nav__button_txt {
    color: #4F5665;
    padding: 0;
    font-weight: normal;
    font-size: 1.125rem;
  }
  .nav__button_txt:hover {
    font-weight: 500;
    color: #0B132A;
  }
  .navbar.is-active {
    transform: translateX(0);
  }
}
@media (max-width: 440px) {
  .navbar {
    width: 100vw;
  }
}
.main {
  display: flex;
  margin-top: 6.25rem;
}
.main__info_title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}
.main__info_text {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 50px;
}
.main__info_btn {
  padding: 17px 75px;
  background: #F53838;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  transition: 0.4s;
}
.main__info_btn:hover {
  box-shadow: 0px 5px 6px rgba(245, 56, 56, 0.5019607843);
}
@media (max-width: 1170px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  .main__info_title {
    font-size: 40px;
  }
  .main__img {
    width: 60%;
  }
}
@media (max-width: 440px) {
  .main {
    margin-top: 3.75rem;
  }
  .main__info_title {
    font-size: 1.75rem;
    line-height: 50px;
  }
  .main__info_text {
    font-size: 0.75rem;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .main__info_btn {
    padding: 14px 45px;
    font-size: 0.75rem;
  }
  .main__img {
    width: 100%;
  }
}

.bold {
  font-weight: bold;
}

.about-info {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  box-shadow: 0px 4px 12px rgba(13, 16, 37, 0.2509803922);
  border-radius: 10px;
}
.about-info__users {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-info__users_img {
  padding: 15px;
  border-radius: 50%;
  background: #ffd5d5;
}
.about-info__users_txt {
  margin: 0;
  font-weight: 700;
  color: #0B132A;
  font-size: 25px;
  padding-bottom: 6px;
}
.about-info__users_txts {
  margin: 0;
  font-size: 18px;
  color: #4F5665;
}
.about-info__locations {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-info__locations_img {
  padding: 15px;
  border-radius: 50%;
  background: #ffd5d5;
}
.about-info__servers {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-info__servers_img {
  padding: 15px;
  border-radius: 50%;
  background: #ffd5d5;
}
.about-info__line {
  border-left: 2px solid #B6B6B6;
  height: 100px;
}
@media (max-width: 1170px) {
  .about-info {
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
    margin-top: 10%;
  }
  .about-info__users_txt {
    font-size: 22px;
  }
  .about-info__users_txts {
    font-size: 16px;
  }
}
@media (max-width: 785px) {
  .about-info {
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
    margin-top: 10%;
  }
  .about-info__users_txt {
    font-size: 22px;
  }
  .about-info__users_txts {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .about-info {
    width: 400px;
    min-height: 100px;
  }
  .about-info__users {
    gap: 5px;
  }
  .about-info__users_img {
    width: 40%;
    padding: 8px;
  }
  .about-info__users_txt {
    font-size: 16px;
    padding: 0;
  }
  .about-info__users_txts {
    font-size: 12px;
  }
  .about-info__locations {
    gap: 5px;
  }
  .about-info__locations_img {
    width: 30%;
    padding: 8px;
  }
  .about-info__servers {
    gap: 5px;
  }
  .about-info__servers_img {
    width: 36%;
    padding: 8px;
  }
  .about-info__line {
    height: 50px;
  }
}

.features {
  display: flex;
  gap: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.features li {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #4F5665;
}
.features__info {
  padding-left: 16%;
}
.features__info_title {
  font-size: 35px;
  color: #0B132A;
  font-weight: 500;
  line-height: 50px;
  padding-right: 30px;
}
.features__info_txt {
  color: #4F5665;
  line-height: 30px;
}
.features__info_choice {
  padding: 0;
}
@media (max-width: 1170px) {
  .features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .features__info {
    padding: 0;
  }
  .features__info_title {
    text-align: center;
  }
  .features__info_choice {
    padding: 0;
  }
}
@media (max-width: 440px) {
  .features {
    margin-top: 16%;
    align-items: center;
  }
  .features li {
    padding-left: 7.5rem;
  }
  .features__img {
    width: 80%;
  }
  .features__info_title {
    padding: 0 15px;
    font-size: 30px;
  }
  .features__info_txt {
    padding: 0 15px;
    text-align: center;
  }
}

.block {
  background: #FBFBFB;
}
.block__title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #0B132A;
  margin: 85px 0 20px 0;
}
.block__text {
  text-align: center;
  line-height: 30px;
  color: #4F5665;
}

.plan-selection {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.plan-selection_card {
  background: #fff;
  padding: 80px 70px 50px;
  border: 2.7px solid #acacac;
  border-radius: 10px;
  transition: 0.4s;
}
.plan-selection_img {
  padding-left: 21px;
}
.plan-selection_title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
}
.plan-selection__texts {
  padding: 0;
}
.plan-selection__texts li {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #4F5665;
}
.plan-selection_buy {
  margin-bottom: 50px;
  padding-top: 120px;
}
.plan-selection_txt {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #0B132A;
  margin: 0;
  margin-bottom: 30px;
}
.plan-selection_btn {
  margin-left: 4px;
  color: #F53838;
  font-weight: 700;
  padding: 13px 60px;
  border: 2px solid #F53838;
  border-radius: 30px;
  transition: 0.4s;
}

.plan-selection_card:hover {
  border: 2.5px solid #F53838;
}

.plan-selection_card:hover .plan-selection_btn {
  background: #F53838;
  color: #fff;
  box-shadow: 0px 5px 6px rgba(245, 56, 56, 0.5019607843);
}

.moot {
  color: #4F5665;
  font-weight: normal;
}

.buy-2 {
  padding-top: 76px;
}

.buy-3 {
  padding-top: 31px;
}

/*# sourceMappingURL=style.css.map */
