.main {
  display: flex;
  margin-top: 6.25rem;

  &__info {
    &_title {
      font-weight: 500;
      font-size: 50px;
      line-height: 70px;
      color: $title-txt;
    }

    &_text {
      font-size: 16px;
      line-height: 30px;
      color: $text-color;
      margin-bottom: 50px;
    }

    &_btn {
      padding: 17px 75px;
      background: $btn-color;
      border-radius: 8px;
      font-weight: $f-weiht7;
      color: #fff;
      transition: 0.4s;

      &:hover {
      box-shadow: $box-shadow;
      }
    }
  }

  @media (max-width: 1170px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 35px;

    &__info {
      &_title {
        font-size: 40px;
      }
    }

    &__img {
      width: 60%;
    }
  }

  @media (max-width: 440px) {
    margin-top: 3.75rem;

    &__info {
      &_title {
        font-size: 1.75rem;
        line-height: 50px;
      }

      &_text {
        font-size: 0.75rem;
        line-height: 20px;
        margin-bottom: 30px;
      }

      &_btn {
        padding: 14px 45px;
        font-size: 0.75rem;
      }
    }

    &__img {
      width:100%;
    }
  }
}

.bold {
  font-weight: bold;
}

.about-info {
  // width: 1140px;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  box-shadow: 0px 4px 12px #0d102540;
  border-radius: 10px;

  &__users {
    display: flex;
    align-items: center;
    gap: 30px;
    
    &_img {
      padding: 15px;
      border-radius: 50%;
      background: #ffd5d5;
    }

    &_txt {
      margin: 0;
      font-weight: $f-weiht7;
      color: $title-txt;
      font-size: 25px;
      padding-bottom: 6px;
    }

    &_txts {
      margin: 0;
      font-size: 18px;
      color: $text-color;
    }
  }

  &__locations {
    display: flex;
    align-items: center;
    gap: 30px;

    &_img {
      padding: 15px;
      border-radius: 50%;
      background: #ffd5d5;
    }
  }

  &__servers {
    display: flex;
    align-items: center;
    gap: 30px;

    &_img {
      padding: 15px;
      border-radius: 50%;
      background: #ffd5d5;
    }
  }

  &__line {
    border-left: 2px solid #B6B6B6;
    height: 100px;
  }

  @media (max-width: 1170px) {
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
    margin-top: 10%;

    &__users {

      &_txt {
        font-size: 22px;
      }

      &_txts {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 785px) {
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
    margin-top: 10%;

    &__users {

      &_txt {
        font-size: 22px;
      }

      &_txts {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 440px) {
    width: 400px;
    min-height: 100px;

    &__users {
      gap: 5px;

      &_img {
        width: 40%;
        padding: 8px;
      }

      &_txt {
        font-size: 16px;
        padding: 0;
      }

      &_txts {
        font-size: 12px;
      }
    }

    &__locations {
      gap: 5px;

      &_img {
        width: 30%;
        padding: 8px;
      }
    }

    &__servers {
      gap: 5px;

      &_img {
        width: 36%;
        padding: 8px;
      }
    }

    &__line {
      height: 50px;
    }
  }
}


.features {
  display: flex;
  gap: 30px;
  margin-top: 10%;
  margin-bottom: 10%;

  li {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: $text-color;
  }

  &__info {
    padding-left: 16%;

    &_title {
      font-size: 35px;
      color: $title-txt;
      font-weight: $f-weiht5;
      line-height: 50px;
      padding-right: 30px;
    }
    &_txt {
      color: $text-color;
      line-height: 30px;
    }
    &_choice {
      padding: 0;
    }
  }

  @media (max-width: 1170px) {
    flex-direction: column  ;
    align-items: center;
    justify-content: center;

    &__info {
      padding: 0;

      &_title {
        text-align: center;
      }
      &_txt {
        padding: 0 25px;
        text-align: center;
      }
      &_choice {
        padding-left: 32%;
      }
    }
  }

  @media (max-width: 440px) {
    margin-top: 16%;
    align-items: center;

    li {
      padding-left: 6.875rem;
    }

    &__img {
      width: 80%;
    }
    &__info {
      
      &_title {
        padding: 0 15px;
        font-size: 30px;
      }
      &_txt {
        padding: 0 15px;
        text-align: center;
      }
      &_choice {
        padding: 0;
      }
    }
  }
}